<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Hook</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="flex justify-center py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-lg">
            <div class="mb-8">
                <h2 class="text-center text-3xl font-extrabold text-gray-900">
                    Music Thumbnailing App
                </h2>
            </div>
            <div class="mb-8">
                <p class="text-center text-sm text-gray-600">
                    This app allows you to upload mp3 files. Once uploaded, it will run chorus detection on the audio file and suggest a thumbnail for the audio file.
                </p>
            </div>
            <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                {% if alert %}
                <div class="mb-4">
                    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                        <strong class="font-bold">Alert:</strong>
                        <span class="block sm:inline">{{ alert }}</span>
                    </div>
                </div>
                {% endif %}
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <div>
                        <label for="file" class="block text-sm font-medium text-gray-700">Choose a file:</label>
                        <div class="mt-1">
                            <input type="file" id="file" name="file" class="py-2 px-3 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" accept=".mp3">
                        </div>
                    </div>

                    <div class="mt-6">
                        <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Upload
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if uploaded_file_url %}
    {% include "custom_player.html" %}
    {% endif %}

</body>
</html>
